body {
    background-color: #23262e; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.button-container {
    display: flex;
}

/* Style for each individual button */
.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
