body {
    background-color: #23262e; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

 button {
     width: 20%;
     background-color: #4CAF50;
     color: white;
     padding: 10px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     margin: 0 2%; /* Add a little margin between buttons */
}
