body {
    background-color: #23262e; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
header {
    padding: 10px;
    text-align: center;
}

 button {
     width: 20%;
     background-color: #cfa14c;
     color: white;
     padding: 10px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     transition-duration: 0.8s;
     margin: 0 2%; /* Add a little margin between buttons */
}
button:hover{
    background-color: #eeeeee;
    color: white;
}


/*
Colors
#282a32 - black
#cfa14c - yellow orange
#78cfcd - blue
#ffffff - white
*/
